:root {
  background-color: #181818;
  color: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #f8f8f8;
    color: #181818;
  }
}

button {
  padding: 13px;
}

.responsive {
  width: 50%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .responsive {
    width: 70%;
    height: auto;
  }
}

/* For large screens */
@media only screen and (min-width: 601px) {
  .responsive {
    width: 30%;
    height: auto;
  }
}